2.3 Resolving Members - Optionally strength the argument

This is just an idea...

Under section 2.3 you explain how the `src-members` attribute should take precedence over `members` and `mp-members` if it is present in the set, and only looking at the other fields if `src-members` isn't present.

I know it seems super obvious to you, do to it this way, but I'm sure it won't be so obvious to all. You could strengthen your reasoning for doing it this way, by adding a sentence which says that this approach is in line with RFC2622 Section 10.2 "Extensions by adding new attributes to existing classes":

```text
New attributes can be added to any class. To ensure full
compatibility, new attributes should not contradict the semantics of
the objects they are attached to. Any tool that uses the IRR should
be designed so that it ignores attributes that it doesn't understand.
Most existing tools adhere to this design principle.

We recommend adding new attributes to existing classes when a new
aspect of a class is discovered. For example, RPSL route class
extends its RIPE-181 predecessor by including several new attributes
that enable aggregate and static route specification.
```