Mistake regarding hierarchical AS-SETs in Introduction

The following is not correct:

https://github.com/mxsasha/rpsl-registry-scoped-members/blob/a8983003b773a61cf6500bbe0e7d5c69c3ca4dbf/draft-romijn-rpsl-registry-scoped-members-00.md.md?plain=1#L60-L64

Hierarchical AS-SETs names are defined in [RFC2622 Section 5.1](https://www.rfc-editor.org/rfc/rfc2622#section-5.1):

>    Set names can also be hierarchical.  A hierarchical set name is a
   sequence of set names and AS numbers separated by colons ":".  At
   least one component of such a name must be an actual set name

Also, double colons are also standardised, in [RFC2725 Section 9.6](https://www.rfc-editor.org/rfc/rfc2725.html#section-9.6):

> 1. There is no hierarchy that can be exploited to direct queries to
alternate registries. At some point the query strategy of
searching all known registries becomes impractical.
> 
> 2. There is no hierarchy on which authorizations of additions can be
based.
> 
> The first problem can be addressed by considering the name space for
each of the ancillary objects to be unique only within the local
database and to use explicit references to an external repository
where needed. To specify an external repository reference, the
object key is preceded by the name of the repository and the
delimiter "::". For example a NIC handle may take the form
"RIPE::CO19". Currently there is a desire to keep NIC handles unique
so the naming convention of appending a dash and the repository name
is used. Prepending the repository name provides the unique name
space since an object in the RIPE database referencing "CO19" would
be interpreted as "RIPE::CO19" by default, but it would still be
possible to query or reference "IANA::CO19". There is no possibility
of accidentally forgetting to adhere to the conventions when making
an addition and the existing objects are accommodated, including
cases where name conflicts have already occurred.

Maybe something like the following, to highlight that even though standardised, the problem still persists?


> Two enhancements to reduce set name collisions have been standardised however, the problem persists:
> 
> 1. RFC2622 Section 5.1 defines hierarchical set names. This ensures that a set name is (1) unique within the IRR it is registered, and (2) was created by the ASN specified in the set name. This removes name collisions within a single IRR, but doesn't allow the correct external IRR to be specified, if the object in question is not local to the IRR storing the set which references the object.
> 2. RFC2725 Section 9.6 defines external repository (IRR) references. This allows for the correct IRR to be specified for a set member object by using the `SOURCE::` notation however, this syntax isn't supported in the `members` filed of set objects.

This would then feed into your last paragraph:

https://github.com/mxsasha/rpsl-registry-scoped-members/blob/a8983003b773a61cf6500bbe0e7d5c69c3ca4dbf/draft-romijn-rpsl-registry-scoped-members-00.md.md?plain=1#L66-L70

Good finds! I mostly added, this, but dropped "This ensures that a set name is (1) unique within the IRR it is registered," - unless I'm missing something, set names are already always guaranteed uniqueness within the same IRR registry - they are the primary key of the object. You can never have two AS-EXAMPLE's in the same registry.

(Not even as different object classes, AS- is a reserved prefix.)